<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Price Monitor Web</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
<div class="container">
    <h1 class="text-center">Price Monitor Web</h1>
    <div class="md-form text-center">
        <input type="text" name="url" id="url" class="form-control" >
    </div>
    <div class="md-form text-center"></div>
    <div class= "marginTB-md m-right-sm text-center">
        <button type="button" class="btn btn-info" onclick="addProduct()">Save</button>
    </div>
</div>
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../js/product/addProduct.js?v=0.0.1"></script>