<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Price Monitor Web</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link href="https://canvasjs.com/assets/css/jquery-ui.1.11.2.min.css" rel="stylesheet" />
    <style>
        .ui-tabs-anchor {
         outline: none;
     }
</style>
</head>

<body>
<div class="container">
    <h1 class="text-center">Detail Product</h1>
    <div class="col-md-8 col-md-12 m-top-sm">
        <div class="smart-widget">
            <div class="smart-widget-inner">
                <div class="smart-widget-body">
                    <div class="form-group">
                        <label>Name</label>
                        <div>
							<span id="name"> - </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label >Description</label>
                        <div id="description"></div>
                    </div>
                    <div class="form-group">
                        <label>Current Price</label>
                        <div>
                            <span id="current_price"> - </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Url</label>
                        <div>
                            <span id="url"> - </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Price Monitor</h4>
            </div>
            <div class="panel-body">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>
</div>

</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="../js/product/detailProduct.js?v=0.0.1"></script>
<script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>