<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Price Monitor Web</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>

<body>
<div class="container">
    <h1 class="text-center">List Products</h1>
    <div class="row col-md-12 table-responsive">
        <table id="productTable" class="table table-bordered table-hover">
            <thead>
            <tr>
                <th style="width: 5%">No</th>
                <th style="width: 15%">Name</th>
                <th style="width: 35%">Description</th>
                <th style="width: 10%">Price</th>
                <th style="width: 25%">Url</th>
                <th style="width: 10%">Action</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="../js/product/listProducts.js?v=0.0.1"></script>